body{
  background: #ebebeb;
}

.signup > div {
  margin-bottom: 10px;
}
.signup label{
  width: 100px;
}
.widget-desc ul {
  display: flex;
}
.widget-desc ul li{
  width: 80px;
}
.widget-desc ul li img{
  width: 100%;
}