#imageArea {
  margin-top: 10px;
}
#imageArea img{
  width: 150px;
  display: block;
  margin-bottom: 10px;
}
label{
  white-space: nowrap;
}
.product_list img{
  width: 100px;
}

#optionBody [name^="optionCnt"] {
  width: 60px;
}
.product_options{
  margin-bottom: 10px;
}
.product_options img{
  width: 80px;
}


.box{
	width: 100%;
	height: 300px;
	background:#ebebeb;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color:#ccc;
  position: relative;
}
.box span{
  font-size: 4em;
  position: absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%,-50%);
}

.box.drag-enter{
	background: #3498db;
	color:#fff;
}
#thumbnails{
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 20px;
  gap:10px;
}
#thumbnails .thumb,
.coupon_thumb img{
  width: 150px;
}
#thumbnails .thumb img{
  width: 100%;
  display: block;
}